<h1>Hair Salon</h1>
<h2>Add new stylist</h2>

<form action="/stylists" method="post">
  <label for="stylistDetails">Stylist details</label>
  <input id="stylistDetails" name="stylistDetails" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Back home</a></h4>
<p><a href="/stylists">Back to stylists.</a></p>
