<h1>Hair Salon Stylist Details: </h1>

<h2>@Model["stylist"].GetName()</h2>
<h3>Category: @Model["category"].GetDetails()</h3>

<a href='/categories/@Model["category"].GetId()/stylists/new'>Add another stylist</a>
<a href='/categories'>View all categories</a>
