@using HairSalon.Models;

<h1>Hair Salon</h1>
<hr>

<h2>Edit client: @Model.GetName()</h2>

<form action="/clients/@Model.GetId()/edit" method="post">
  <label for "name">Client name</label>
  <input type="text" id="name" name="name">
  <button type="submit">Update</button>
</form>



<h4><a href="/clients">Go Back to clients</a></p>
<h4><a href="/">Return to the home page</a></h4>
